<article *ngIf="showDanger" class="message is-danger is-large">
  <div class="message-header">
    <p>{{message}}</p>
    
  </div>
</article>

<article *ngIf="showSuccess" class="message is-success is-large" (click)="hideSuccess()">
  <div class="message-header">
    <p>{{message}}</p>
    <button class="delete" aria-label="delete"></button>
  </div>
</article>



<section class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4 is-primary">

        <div class="box"  >
          <span *ngIf="!showSpinner">
            
            <button class="button is-block is-dark is-large is-fullwidth" (click)="resend()" [disabled]="disableResend"> Resend</button>


        </span>
        <loading-spinner *ngIf="showSpinner"></loading-spinner>
        </div>


      </div>
    </div>
  </div>
</section>